footer {
    position: relative;
    bottom: 0;
    min-width: 98vw;
    background-color:#cdf1fd;
    margin-top: 85px;
    padding: 14px 40px;
    display: flex;
    /* justify-content:start; */
    gap: 20px;
    /* align-items:flex-end; */
    font-family: Poppins;
  
  }
  .developers_section {
      display: flex;
      float: right;
  }
  .footer_title {
      font-size:20px ;
      color: #6cb6d3;
      font-weight: 500;
  }
  .footer-item{
      display: flex;
      gap: 940px;
      justify-content: space-around;
      align-items:flex-end;
      color: #6cb6d3;
  }
  .footer-item a{
      color: #6cb6d3;
      text-decoration: none;
  }
  .footer-item .developers{
      font-size: 12px;
      font-weight: 600;
      line-height: 25px;
      cursor: pointer;
      margin-left: 10px;
  }
  @media screen and (max-width: 580px) {
      footer{
          font-size: 10px;
      }
      .footer-item{
          gap: 20px;
          padding: 0;
      }
      .footer-item h1{
          font-size: 10px;
      }
  }
  @media screen and (max-width: 400px) {
      footer{
          font-size: 7px;
          box-sizing: content-box;
          padding: 0px;
      }
      .footer-item{
          gap: 10px;
          padding: 10px;
      }
      .footer-item h1{
          font-size: 10px;
      }
  }
  @media screen and (max-width: 300px) {
      footer{
          box-sizing: content-box;
          padding: 0px;
      }
      .footer-item{
          gap: 1px;
          padding: 5px;
      }
      .footer-item h1{
          font-size: 10px;
      }
      .footer-item .developers{
          font-size: 7px!important;
      }
  }